<!--

  <div
       >
       <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">


                    <div class="row" >

                      <div class="col-lg-7">
                        <h5 class="mb-3"><a href="#!" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                        <hr>

                        <div class="d-flex justify-content-between align-items-center mb-4">
                          <div>
                            <p class="mb-1">Shopping cart</p>
                            <p class="mb-0">You have 4 items in your cart</p>
                          </div>
                          <div>
                            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                          </div>
                        </div>
                        <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="example-viewport">
                        <div class="card mb-3" *cdkVirtualFor="let item of responseData">

                          <div class="card-body">
                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                <div>
                                  <img
                                    src="{{item.url}}"
                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="ms-3">
                                  <h5>{{item.itemName}}</h5>
                                  <p class="small mb-0"></p>
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center">
                                <div style="width: 50px;">
                                  <h5 class="fw-normal mb-0">{{item.itemBarcode}}</h5>
                                </div>
                                <div style="width: 80px;">
                                  <h5 class="mb-0">{{item.itemPrice}}</h5>
                                </div>
                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </cdk-virtual-scroll-viewport>





                      </div>


                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>

<br>
  <div>
    <label for="height">Item Size:</label>
    <input id="height" type="number" [(ngModel)]="itemSize">
  </div> -->

  <cdk-virtual-scroll-viewport #scroller itemSize="72" class="content">
  <mat-list class="content">
    <mat-list-item *ngFor="let item of responseData">
      <img matListAvatar [src]="item.url" />
      <h3 matLine>{{item.itemName}}</h3>
      <p matLine>
        <span> {{item.itemPrice}} </span>
      </p>
      <p matLine>
        <span> {{item.itemBarcode}} </span>
      </p>
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon> more_vert </mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    <div class="spinner-item">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50">
      </mat-progress-spinner>
    </div>
  </mat-list>

  <mat-menu #itemMenu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
    <button mat-menu-item>Option 3</button>
  </mat-menu>
</cdk-virtual-scroll-viewport>
